<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        {{extra_meta}}
        <link rel="stylesheet" href="fedi-archive-style.css">
    </head>
    <body>
        <span id="top"></span>
        <header class="title">
            <h1>{{title}}</h1>
            <nav>
                <ul>
                    <li><a href="#bottom">Go to <span title="🥺">bottom</span> (most recent posts)</a></li>
                </ul>
            </nav>
        </header>
